@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: Poppins;
  background-image: linear-gradient(to left top, #6b9deb, #00aeeb, #00bad3, #00c1ab, #60c27e, #75c679, #89c974, #9ccc71, #87d78b, #70e1a9, #58e9c7, #44f0e5);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 0 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav #logo {
  display: block;
  font-size: 200%;
  color: #6b9deb;
  font-family: Helvetica, sans-serif;
}
nav #naviLinks {
  width: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.3rem 0;
  color: #1fb273;
}
nav #naviLinks li {
  font-weight: 500;
}
nav #naviLinks li a:hover {
  display: block;
  transition: all 0.4s linear;
  border-bottom: 2px dotted #f07a64;
  transform: translateY(-2px);
  color: white;
}