@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root ::selection {
  background-color: #00c1ab;
  color: white;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px;
  font-size: 1rem;
  font-family: "Noto Serif", serif;
  background-image: linear-gradient(to left top, #6b9deb, #00aeeb, #00bad3, #00c1ab, #60c27e, #75c679, #89c974, #9ccc71, #87d78b, #70e1a9, #58e9c7, #44f0e5);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 0 1rem;
  height: 100vh;
  position: relative;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav #logo {
  display: block;
  font-size: 200%;
  color: #6b9deb;
  font-family: Helvetica, sans-serif;
}
header nav #naviLinks {
  font-size: 120%;
  width: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.3rem 0;
  color: #6f9e8a;
}
header nav #naviLinks li {
  font-weight: 500;
}
header nav #naviLinks li a:hover {
  display: block;
  transition: all 0.4s linear;
  border-bottom: 2px dotted #f07a64;
  transform: translateY(-2px);
  color: white;
}
header .hero-content {
  max-width: 200px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 50%);
}
header .hero-content a:first-child {
  display: block;
  background-color: white;
  padding: 20px 25px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 120%;
  transition: all 0.3s;
}
header .hero-content a:first-child:hover {
  background-color: #f07a64;
  color: white;
  transform: translateY(-5px);
}
header .hero-content a.demo-link {
  text-decoration: underline;
  display: inline-block;
  transition: all 0.3s;
  transform: translateX(25px);
}
header .hero-content a.demo-link .arrow {
  text-decoration: none;
  opacity: 0;
}
header .hero-content a.demo-link:hover {
  transform: translateX(5px);
}
header .hero-content a.demo-link:hover .arrow {
  opacity: 1;
}

#sec1 {
  padding-bottom: 5rem;
}
#sec1 h2 {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
  font-size: 150%;
  font-size: 150%;
}
#sec1 .details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#sec1 .details div {
  width: 30%;
  height: 50%;
  padding: 20px 25px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: white;
  transform: scale(0.9);
}
#sec1 .details div:hover {
  box-shadow: 1px 1px 5px #f07a64, -1px -1px 5px #f07a64;
  transform: translateY(-5px);
  transform: scale(1);
}
#sec1 .details div h3 {
  text-align: center;
  color: rgba(165, 104, 44, 0.822);
  margin-bottom: 1rem;
  font-size: 150%;
  font-size: 120%;
}
#sec1 .details div p {
  line-height: 1.5em;
  text-align: justify;
}