// import google font
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

:root {
  ::selection {
    background-color: #00c1ab;
    color: white;
  }
}

body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px;
  font-size: 1rem;
  font-family: "Noto Serif", serif;
  background-image: linear-gradient(
    to left top,
    #6b9deb,
    #00aeeb,
    #00bad3,
    #00c1ab,
    #60c27e,
    #75c679,
    #89c974,
    #9ccc71,
    #87d78b,
    #70e1a9,
    #58e9c7,
    #44f0e5
  );
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
